<div class="label_hd">User List in User Component:</div>
<div class="label_hd">Date : {{ today_date | date:"dd/MM/yyyy" }}</div>
<div class="label_hd">Currency : {{ 500 | currency:"INR" }}</div>
<div class="module">
  
    <table class="container">
      <th class="container_hd">Name</th>
      <th class="container_hd">Location</th>
   
    <tr *ngFor = "let users of user_data">
      <td class="container_body">{{ users.name |uppercase }}</td>
      <td class="container_body">{{ users.location | lowercase }}</td>
    </tr>
    </table>
    
   
</div>