
<div class="label_hd">User List in User Component:</div>
<div class="">Date : {{ today_date | date:"dd/MM/yyyy" }}</div>
<div class="">Currency : {{ 500 | currency:"INR" }}</div>

<div class='users_component_container'> 
<div class="module">
    <div class="label_hd">Search: 
      <input type="text"  [(ngModel)]='nameFilter' />

    </div>
    <table class="container">
      <th class="container_hd">Name</th>
      <th class="container_hd">Location</th>
   
    <tr *ngFor = "let user_data of userdata | users : nameFilter">
      <td class="container_body">{{ user_data.name |uppercase }}</td>
      <td class="container_body">{{ user_data.location |uppercase }}</td>
    </tr>
    </table>
    
   
</div>
</div>
<div class="label_hd">Passing Data from Outer to Inner Component : </div>
<div class="">{{ countryname }}</div>