    <h3>{{title}}</h3>
    <nav>
    <button><a routerLink="" routerLinkActive="styleactive" [routerLinkActiveOptions]="{exact:true}">About</a></button>
    <button><a routerLink="users" routerLinkActive="styleactive" >Employees</a></button>
  </nav>
    <div class="label_hd">Property Binding </div>
    <div class="module"><input type = "text" [value]="display_data1" /></div>
    <div class="label_hd">Event Binding </div>
    <div class="module"><input type = "text" (input)="display_data_fn($event.target.value)" /></div>
    <div class="">Message : {{ display_data2 }} </div>
    <div class="label_hd">Two Way Data Binding </div>
    <div class="module"><input type = "text" [(ngModel)]="display_data3" /></div>
    <div class="">Message : {{ display_data3 }} </div>
    <div class="label_hd">Class Binding </div>
    <div class="module"><h3 [class.highlight]="chk">Test class binding</h3></div>
  
    <div class="label_hd">Item List in App Component: </div>
    
    <div class='app_component_container'>
    <div class="module">
    <table class="container">
      <th class="container_hd">Id</th>
      <th class="container_hd">Name</th>
   
    <tr *ngFor = "let item_data of itemdata">
      <td class="container_body">{{ item_data.item_id |uppercase }}</td>
      <td class="container_body">{{ item_data.item_name |uppercase }}</td>
    </tr>
  </table>
   </div>
    </div>
    
   
    <app-users [countryname]="country" (itemclicked)='showMessage($event)'></app-users>

    
    <div class="module">Data from user component :  {{ display_msg }}</div>
    